$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$text-color: #2a2a2a;
$secondary: #fff;
$form-border-color: #292929;

// Hover state animation - set value in milliseconds

//for buttons background
%background-animation-time {
  transition-duration: 250ms !important;
}

//for texts and icons
%text-animation-time {
  transition-duration: 250ms !important;
}
