<div class="section-promoted">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="hot-deals">
          <h3 class="hot-deals-heading">Hot deals</h3>
          <div class="col-auto dots">
            <ul class="app-hot-deals-slider-navbar">
              <!--<li class="tns-nav-active"></li>-->
              <!-- js nav sliders insert -->
            </ul>
          </div>
        </div>
        <div class="product-box">
          <div class="photo">
            <div class="app-hot-deals-slider">
              <!-- js sliders insert -->
            </div>
            <a class="btn-promoted">
              <i class="fa fa-shopping-basket"></i>
              ADD TO CART
            </a>
            <div class="promo-timer">
              <div class="promo-circle">
                <p class="promo-number">25</p>
                <p class="promo-interval">Days</p>
              </div>
              <div class="promo-circle">
                <p class="promo-number">10</p>
                <p class="promo-interval">Hrs</p>
              </div>
              <div class="promo-circle">
                <p class="promo-number">45</p>
                <p class="promo-interval">Mins</p>
              </div>
              <div class="promo-circle">
                <p class="promo-number">30</p>
                <p class="promo-interval">Secs</p>
              </div>
            </div>
          </div>
          <div class="content">
            <h5 class="product-name">Aenean Ru Bristique</h5>
            <div class="stars">
              <a class="full"></a> <a></a> <a></a> <a></a> <a></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a class="btn-outline"><i class="far fa-eye"></i></a>
              <a class="btn-outline"><i class="far fa-heart"></i></a>
              <a class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="promoted-price">
              <div class="discount">$ 300.00</div>
              <div class="btn-main-small no-hover">$ 300.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="promo-banner">
          <div class="app-promo-banner-slider">
            <!-- js sliders insert -->
          </div>
          <div class="tinted">
            <h1 class="promo-banner-title">
              Indor <span class="bold-banner-title">Furniture</span>
            </h1>
            <h3 class="promo-banner-subtitle">Save up to 50% of all furniture</h3>
            <a class="btn-banner">Shop now</a>
          </div>
          <div class="direction-arrows">
            <a class="btn-main-small"><i class="fas fa-chevron-left"></i></a
            ><a class="btn-main-small"><i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
