<div class="section--brands">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="brands-container">
          <a href="#" class="btn-main-brands-switch"
            ><i class="fas fa-chevron-left"></i
          ></a>
          <div class="logo-container">
            <img src="images/section-brands/Layer 138.png" />
          </div>
          <div class="logo-container">
            <img src="images/section-brands/Layer 139.png" />
          </div>
          <div class="logo-container">
            <img src="images/section-brands/Layer 140.png" />
          </div>
          <div class="logo-container">
            <img src="images/section-brands/Layer 141.png" />
          </div>
          <div class="logo-container">
            <img src="images/section-brands/Layer 142.png" />
          </div>
          <div class="logo-container">
            <img src="images/section-brands/Layer 139.png" />
          </div>
          <a href="#" class="btn-main-brands-switch"
            ><i class="fas fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
